# Xcode
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.xccheckout
*.xcscmblueprint

# API Keys
Config.xcconfig

# Build products
build/
DerivedData/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log